body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}


input {
    border-radius: 5px;
}

.conteiner {
    display: grid;
    grid-template: 100px 1fr 150px / 100px 1fr;
    height: 100vh;
    grid-template-areas: "header header"
                         "left contenido"
                         "footer footer";
}   


/* HEADER */

nav {
    grid-area: header;
    background-color: white;
    
}

.item {
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 10px burlywood;
    padding: 10px;
}

.logo img{
    max-width: 50px;
}

.logo{
    display: flex;
    padding: 5px;
}

.logo p {
    font-family: Anton;
    margin: 10px;
    font-size: 26px;
}


.search {
    display: flex;
    align-items: center;
}

.search input {

    padding: 10px;
    font-size: 15px;
    border: 1px solid #dbdbe2;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
}

.user {
    display: flex;
    text-align: center;
}

.user img {
    padding: 5px;
    max-width: 50px;
}

.user p {
    display: flex;
    text-align: center;
    padding: 5px;
}


/* FIN HEADER */

/* LEFT */


.left {
    padding: 10px;
    margin: 0;
    grid-area: left;
    background:#808f9d;
    display: grid;
    justify-content: space-between;
    text-align: center;
    background: linear-gradient(90deg, #DA2F47, rgba(218, 47, 71, 0.85));
}

.settings {
    display: grid;
    align-content: flex-end;
    justify-content: center;
}



/* FIN LEFT */

/* MAIN */


.contenido {
    grid-area: contenido;
}

.movilist {
    display: grid;
    grid-template: 30px 1fr 30px 1fr 30px 1fr / 1fr;
    background: white;
    padding: 10px;
    grid-row-gap: 10px;
}

.list {
    padding: 10px;
    display: flex;
    justify-content: start;
    margin: 10px;
}

.list img {
    margin: 10px;
}

.contenido img {
    max-width: 300px;
}

.movilist h2 {
    font-size: 16px;
    align-self: center;
}


/* FIN MAIN */

.footer {
    grid-area: footer;
}

